/* admin ヘッダー */
.header {
    padding: 13px;
    font-size: 2rem;
    background-color: #77c7fc;
}
h1 {
    font-size: 2rem;
}
nav p {
    font-size: 1.5rem;
}
nav a {
    font-size: 1.5rem;
}
/* admin　sidebar */
.box2 {
    background-color: #f2f4f5;
    height: 800px;
}
.box1 {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-right: 0px;
    padding-left: 0px;
}
.box1 li a {
    display: block;
    text-decoration: none;
    color: black;
}
.box1 li a:hover {
    background-color: rgba(145, 137, 137,0.5);
}